language: ruby

before_install:
  - for dir in $(echo $GEM_PATH | tr ':' ' '); do gem uninstall -i $dir bundler -a -x; done
  - gem install bundler -v $BUNDLER_TEST_VERSION
  - bundle --version

script: bundle exec rake test:all

matrix:
  include:
    - rvm: 2.1.10
      env: BUNDLER_TEST_VERSION=1.12.5
    - rvm: 2.2.5
      env: BUNDLER_TEST_VERSION=1.12.5
    - rvm: 2.3.1
      env: BUNDLER_TEST_VERSION=1.9.10
    - rvm: 2.3.1
      env: BUNDLER_TEST_VERSION=1.10.5
    - rvm: 2.3.1
      env: BUNDLER_TEST_VERSION=1.11.2
    - rvm: 2.3.1
      env: BUNDLER_TEST_VERSION=1.12.5
    - rvm: 2.3.1
      env: BUNDLER_TEST_VERSION=1.13.0
